@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
*:hover {
    cursor: default;
}

html,
body {
    width: 100%;
    height: 100%;
}

#nav {
    height: 130px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    gap: 35px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 129px;
    z-index: 150;
    position: fixed;
}

#nav img {
    height: 70px;
}

#nav h4 {
    font-weight: 500;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#cursor {
    height: 18px;
    width: 18px;
    background-color: #95C11E;
    border-radius: 50%;
    position: fixed;
    z-index: 98;
}

#cursor-blur {
    height: 300px;
    width: 300px;
    background-color: rgb(187, 255, 0);
    filter: blur(200px);
    border-radius: 50%;
    position: fixed;
    z-index: 9;
}

#main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.45);
}

#page1 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page1 h1 {
    margin-top: 50px;
    position: relative;
    z-index: 95;
    font-size: 105px;
}

#page1 h1::before {
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: black;
    top: -4px;
    left: -4px;
    z-index: -1;
    -webkit-text-stroke: 1px rgb(187, 255, 0);
}

#page1 h2 {
    z-index: 95;
    font-weight: 800;
    padding: 8px 10px;
}

#page1 h3 {
    z-index: 95;
    font-size: 20px;
    padding: 10px 320px;
    font-weight: 400;
    text-align: center;
}

#page2 {
    margin-top: 40px;
    height: 100%;
    width: 100%;
}


#scroller {
    /* background-color: red; */
    position: relative;
    z-index: 99;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#scroller-in {
    display: flex;
    white-space: nowrap;
    animation: scroll 20s linear infinite;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(-100%);
    }
}

#scroller h4 {
    white-space: nowrap;
    padding: 0 30px;
    display: flex;
    font-size: 90px;
    font-weight: 1000;
    margin-right: 10px;
    color: black;
    -webkit-text-stroke: 2px #fff;
    transition-duration: 0.5s;
}

#scroller h4:hover {
    color: rgb(187, 255, 0);
    -webkit-text-stroke: rgb(187, 255, 0);
}

#about-us {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
    margin: 70px 0;
    position: relative;
    z-index: 97;
}

#about-us img {
    position: relative;
    z-index: 99;
    height: 200px;
    width: 180px;
    border-radius: 50px;
    object-fit: cover;
}

#about-us-in {
    margin: 0 100px;
    text-align: center;
}

#about-us-in h3 {
    font-size: 40px;
    font-weight: 1000;
    padding: 20px 0;
}

#about-us-in p {
    font-weight: 400;
    font-size: 20px;
}

#cards-container {
    /* background-color: black; */
    position: relative;
    z-index: 99;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    z-index: 99;
    perspective: 1500px;
}
.card {
    height: 86%;
    width: 24%;
    /* background-color: blue; */
    border-radius: 12px;
    background-size: cover;
    background-position: center;
    transition: all ease 0.5s;
}
.card:hover {
    transform: rotate3d(-1,1,0,20deg);
}

#card1 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

#card2 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

#card3 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgb(187, 255, 0);
    padding: 80px 20px;
    opacity: 0;
    transition: all ease 0.5s;
    border-radius: 12px;
}
.card:hover .overlay{
    opacity: 1;
    cursor: pointer;
}
.overlay h4 {
    color: #000;
    font-size: 30px;
    font-weight: 800;
}
.overlay p {
    color: #000;
    padding: 10px 0;
    font-size: 18px;
}

#green-div {
    margin: 50px 0;
    padding: 10px 0;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left bottom, #21A437,#ADE023);
}
#green-div img {
    height: 100%;
    width: 12%;
    object-fit: cover;
}
#green-div h3 {
    color: black;
    width: 100%;
    margin: 0 20px;
    font-size: 28px;
    font-weight: 900;
    text-align: center;
}

#page3 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 95;
}
#page3 > p {
    width: 55%;
    text-align: center;
    font-size: 25px;
    line-height: 45px;
    text-transform: uppercase;
    font-weight: 900;
}
#page3 img {
    position: absolute;
    height: 80px;
    width: 80px;
}
#page3 #colon1 {
    left: 10%;
    top: 20%;
}
#page3 #colon2 {
    right: 10%;
    bottom: 20%;
}

#page4 {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
}
#page4 h4 {
    color: black;
    -webkit-text-stroke: 2px white;
    font-size: 60px;
    text-align: center;
    position: relative;
    z-index: 95;
}
#page4 #green-cards-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#page4 #green-cards-container .green-card {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #95C11E;
    margin: -20px 20px;
    border-radius: 8px;
    font-size: 23px;
    font-weight: 900;
    width: 25%;
    height: 150px;
    position: relative;
    z-index: 99;
}

footer {
    position: relative;
    background: linear-gradient(to left bottom, #21A437,#ADE023);
    height: 60vh;
    display: flex;
    flex-direction: column;
}
footer img {
    position: absolute;
    height: 100%;
    object-fit: cover;
}
#footer-container-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#footer-item-1 {
    width: 15%;
    margin: 40px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#footer-item-1 > img {
    position: relative;
    z-index: 95;
    height: 90px;
    margin: 40px;
}
#footer-social-logos-container {
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 95;
}
#footer-social-logos-container > i {
    margin: 0 5px;
    position: relative;
    font-size: 35px;
    filter: invert(100%);
}